
.main{
  display: flex;
  width: 100%;
  &-left{
    width: 69%;
    margin-left: 35px;
    margin-right: 23px;
    .log{
      text-align: right;
      margin-top: 25px;
      margin-bottom: 75px;
    }
  }
  &-right{
    width: 31%;
    margin-left: 23px;
    margin-right: 35px;
  }
}