
.main{
  &-left{
    &-subtitle{
      background-color: #f0f0f0;
      padding: 10px 0;
      border-radius: 3px;      
      margin-bottom: 20px;
      h3{
        color: #000;
        font-size: 18px;
        line-height: 27px;
        margin: 0 20px;
        span{
          color: #ff0000;
        }
      }
    }
  }
}
