
.main{
  &-left{
    &-table{
      .table01{
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 120px auto;
        .item-box{
          font-size: 15pxs;
          padding: 10px 0;
          border-bottom: 1px solid #ccc;
          .txt{
            padding-left: 10px;
          }
        }
      }
    }
  }
}